* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}

#logo {
    margin-left: 10px;
    height: 50px;
}

#menu {
    margin-right: 10px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}

nav a {
    color: seashell;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
    background-color: black;
    opacity: 0.5;
}

main {
    margin: 0 auto;
    max-width: 1200px;
}

/* TOP SECTION */
#top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 700px;
    background-image: url("img-mission-background.webp");
    background-size:cover;
}

.top-section-text {
    width: 100%;
    background-color: black;
}

.top-section-text h2, .top-section-text h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.top-section-text h4 {
    margin-left: 10px;
    margin-right: 10px;
}

/* MIDDLE SECTION */
#middle-section {
    margin: 0 auto;
    margin-top: 70px;
    max-width: 1000px;
}

.middle-section-text h2, .middle-section-text h4 {
    margin-bottom: 20px;
}

.middle-section-figures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

figure {
    margin: 10px 15px;
}

figure img {
    width: 300px;
    height: 200px;
}

figcaption {
    margin-top: 10px;
}

/* BOTTOM SECTION */
#bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    height: 570px;
    margin-top: 70px;
    background-image: url('/img-locations-background.webp');
    background-size:cover;
}

.bottom-section-boxes {
    display: flex;
    justify-content: center;
}

.location-box {
    width: 300px;
    margin: 15px 20px;
    background-color: black;
}

.location-box h3 {
    margin-top: 35px;
    margin-bottom: 30px;
}

.location-box h4 {
    margin-bottom: 40px;
}

/* FOOTER */
.contact-info {
    height: 200px;
    text-align: center;
    color: seashell;
}

.contact-info h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-info h5 {
    margin-top: 30px;
}

footer .copyright {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    color: seashell;
}
